<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List Version 1</title>
  <link rel="stylesheet" href="../CSS/styles.css">
</head>

<body>


  <div class="box" id="heading">
    <!-- Get the day from javascript file to the ejs file -->
    <h1>
      <%=theDay%>
        <br>
        <%=theListName%>
    </h1>
  </div>

  <form action="/delete" method="post">
    <div class="box">
      <!-- Add javascript code inside these marks and set for loop to loop thorugh the array we created and create new li and set the item inside it: -->

      <% newItems.forEach((ele)=>{%>
        <div class="item">

          <input type="checkbox" name="Subcheckbox" value="<%= ele._id%>" onChange="this.form.submit()" />
          <p>
            <%= ele.theName %>
          </p>
        </div>
        <% })%>
          <input type="hidden" name="theNameOfList" value="<%=theListName%>">
  </form>


  <form class="item" action="/" method="post">
    <input type="text" name="task" id="" placeholder="Add Task..." autocomplete="off" autofocus>
    <button type="submit" name="button" value="<%=theListName%>">+</button>
  </form>

  </div>



</body>

</html>